<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css'>	
		<link rel="stylesheet" href="./lib/miniframework/css/miniframework.min.css">
		<link rel="stylesheet" href="./assets/css/...">

		<title>Novo projeto</title>
	</head>
	
	<body>

		<!-- LOADING -->
		<div class="loading">
			<div class="loader"></div>
		</div>



		<main>
			


		</main>	

		

		<!-- MINIFRAMEWORK JS -->
		<script src="./lib/miniframework/js/miniframework.js"></script>

	</body>
</html>