@use '../../../miniframework/scss/variaveis';
@use '../../../miniframework/scss/mixins';

.info-close{
	border-radius: 0;
}

#por-que-usar{
	margin-top: 100px;

	header{
		position: sticky;
		top: 100px;

		@media (max-width: variaveis.$tablet){
			position: static;
		}
	}
}