@use 'variaveis';

// Botão
@mixin btn($background, $color){
	display: inline-block;
	background: $background;
	padding: 14px 20px;
	font-weight: 600;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	transition: .1s background;

	&, *{
		font-size: variaveis.$text1;
		color: $color !important;
	}

	&:hover{
		color: $color;
		background: darken($background, 5%);
	}
}

// Remover aparência padrão do botão (botão de ícone)
@mixin iconButton{
	@include flex(center, center);
	background: none !important;
	padding: 0;

	&, *{
		font-size: 25px;
		color: inherit !important;
		line-height: 0;
	}
}



// Margens do eixo y (vertical)
@mixin marginY($size){
	margin-top: $size;
	margin-bottom: $size;
}

// Margens do eixo x (horizontal)
@mixin marginX($size){
	margin-left: $size;
	margin-right: $size;
}



// Paddins do eixo y (vertical)
@mixin paddingY($size){
	padding-top: $size;
	padding-bottom: $size;
}

// Paddings do eixo x (horizontal)
@mixin paddingX($size){
	padding-left: $size;
	padding-right: $size;
}



// Flexbox
@mixin flex($space, $align){
	display: flex;
	justify-content: $space;
	align-items: $align;
}



// Grid layout
@mixin grid($column){
	display: grid;
	grid-template-columns: $column;

	&.grid-gap-1{grid-gap: variaveis.$size1}
	&.grid-gap-2{grid-gap: variaveis.$size2}
	&.grid-gap-3{grid-gap: variaveis.$size3}
}



// Informações, notificação
@mixin info($color){
	@include flex(space-between, center);
	background: lighten($color, 35%);
	border: 1px solid lighten($color, 15%);
	padding: 18px 22px;
	border-radius: 3px;
	font-size: variaveis.$text1;
	overflow: auto;

	&, *{
		color: darken($color, 25%);
		font-weight: 600;
	}

	.close{
		@include iconButton();
	}
}