@import '../../miniframework v1.0/scss/variaveis.scss';
@import '../../miniframework v1.0/scss/mixins.scss';

// Menu de tópicos
#navigation{
	transition: box-shadow .5s;
	&.shadow{
		box-shadow: 0 0 30px #ccc;
		position: fixed;
		top: 0;
		width: 100%;
	}
}

// Background colors grid
#grid{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;

	@media (max-width: $laptop){
		grid-template-columns: auto auto auto;
	}

	@media (max-width: $mobile){
		grid-template-columns: auto auto;
	}

	.caixa-cor{
		height: 50px;
		@include flex(center, center);
	}
}

.info-gray{
	position: relative;

	.copy-container{
		position: sticky;
		right: 0;
		
		// mensagem informando que a tag HTML foi copiada
		.msg-copiado{		
			padding: 2px;
			border-radius: 3px;
			font-size: .6rem;
		}

		// Ícone de copiar texto para área de transferência
		.bx-copy{
			cursor: pointer;
			padding: 5px;
			border-radius: 50%;
			transition: background .2s;
			&:hover{
				background: #ededed;
			}
		}
	}
}